      <!--
        - #HOME
      -->

      <article class="about active" data-page="home">

        <header>
          <h2 class="h2 article-title">ABOUT ME</h2>
        </header>

        <section class="about-text">
          <p>
            I am a Ph.D. researcher at the University of Bonn under the supervision of <a href="https://www.b-it-center.de/caisa/team/prof-dr-lucie-flek" target="_blank">Prof. Dr. Lucie Flek</a> in the Conversational AI and Social Analytics <a href="https://www.b-it-center.de/caisa" target="_blank">(CAISA)</a> lab.
            Prior to this, I received a Master's degree in 2021 in Data Science at the Chemnitz University of Technology as well as a Master's in 2017 in Industrial Engineering & Management at the University of Erlangen-Nuremberg.
            I graduated with a Bachelor of Science in Industrial Engineering in 2012.
          </p>
        </section>
        <header style="text-align: center; position: relative; margin-bottom: 30px;">
  <h3 class="h3 article-title" style="text-align:left;">RESEARCH AREA</h3>
  
  <div style="margin-top: -5px; text-align: center;">
    <div style="
        display: inline-block;          
        padding: 8px;                   
        border: 3px solid #FFA500;      
        border-radius: 15px;            
        box-shadow: 0 6px 18px rgba(255,165,0,0.4); 
        background: transparent;        
        transition: transform 0.3s, box-shadow 0.3s;
    " 
    onmouseover="this.style.transform='scale(1.03)'; this.style.boxShadow='0 10px 25px rgba(255,165,0,0.6)';"
    onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='0 6px 18px rgba(255,165,0,0.4)';">
    
        <img src="./assets/images/RESEARCH AREA.jpg" 
             alt="Research Illustration" 
             style="max-width: 500px; width: 100%; height: auto; border-radius: 10px; display: block; margin-top: auto;">
    </div>
</div>
</header>

<section class="about-text">
  <p>
    My research centers on bridging the gap between conversational information-seeking, personalization, and evaluation, with the long-term goal of enabling machines to exhibit human-like communication, subjective reasoning, and commonsense knowledge.
  </p>
  <p>
    First, I investigate how conversational AI systems can better understand and incorporate users’ preferences and opinions. This involves designing systems that engage in genuinely personalized dialogue and deliver contextually relevant information tailored to individual users.
  </p>
  <p>
    Second, I explore the role of storytelling and narrative coherence in conversational AI. By integrating narrative techniques, I aim to make interactions more engaging, comprehensible, and applicable to real-world domains such as education and interactive learning.
  </p>
  <p>
    Finally, I focus on evaluation, developing and comparing new methods that combine automatic metrics with gamification-based approaches. My goal is to establish more robust and reliable tools for assessing conversational systems.
  </p>
  <p style="font-weight: bold;">
    Here are my core research areas:
  </p>
  <ul>
    <li> <b>- Human-Computer Interaction</b></li>
    <li> <b>- Conversational Information-Seeking</b></li>
    <li> <b>- Narrative Understanding and Generation</b></li>
    <li> <b>- Computational Social Psychology</b></li>
    <li> <b>- Evaluation for Conversational Systems</b></li>
  </ul>
</section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 article-title">NEWS/ UPDATES</h3>

          <ul class="service-list has-scrollbar">

            <li class="service-item">

              <div class="service-icon-box">
                  <img src="./assets/images/MonthLogos/Aug_2025.png" alt="research icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Giving a Talk at SCAI</h4>

                <p class="service-item-text">
                  Giving a talk on Subjective Debate as Conversational Search at the Search-Oriented Conversational AI (SCAI) workshop in Montreal, Canada.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/July_2025.png" alt="conference icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Orginizing A Workshop at EGOI</h4>

                <p class="service-item-text">
                  Orginizing a workshop on Human-AI Collaboration at the European Girls’ Olympiad in Informatics (EGOI) 2025 in Bonn, Germany.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/July_2025.png" alt="conference icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Our Paper at EMNLP 2025</h4>

                <p class="service-item-text">
                  Our paper on CINEMETRIC got accepted at the NLPerspectives workshop at EMNLP 2025 in Suzhou, China. (Stay Tuned! 🎉)
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/Dec_2024.png" alt="conference icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Our Paper at NeurIPS 2024</h4>

                <p class="service-item-text">
                  Our paper on Story of Thoughts (SoT) will be presented at the System-2 Reasoning workshop at NeurIPS 2024 in Vancouver, Canada! 🎉
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/Oct_2024.png" alt="award icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Best Paper Award  🏆</h4>

                <p class="service-item-text">
                  Received Best Paper Award (BDD-Wissenschaftsaward 2024) from the German Direct Selling Association for our work on OpinionConv.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/Sep_2024.png" alt="conference icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Co-orginizing A Workshop at AI24</h4>

                <p class="service-item-text">
                  Co-orginizing a workshop on LLMS IN ACTION at the AI24 - The LAMARR Conference 2024 in Dortmund, Germany.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/July_2024.png" alt="conference icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Our Paper at ACM CUI 2024</h4>

                <p class="service-item-text">
                  Our paper on Narrative In Conversational Information Seeking will be presented at the ACM Conversational User Interface (CUI) 2024 in Luxembourg, Luxembourg! 🎉
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/Feb_2024.png" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Programm Comittee at HuCLLM Workshop at ACL</h4>

                <p class="service-item-text">
                  I'll be a member of the program committee at the workshop on Human-Centered Large Language Modeling (HuCLLM) at ACL 2024 in Bangkok, Thailand!
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/Jan_2024.png" alt="mobile app icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Delegation Research Visit in US</h4>

                <p class="service-item-text">
                  I am selected for a research visit in the US by the LAMARR institute. Looking forward to visiting NLP Labs
                  at Carnegie Mellon University and the University of Pennsylvania.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/May_2023.png" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Our paper at SIGDIAL 2023</h4>

                <p class="service-item-text">
                  I will present our paper: OpinionConv: Conversational Product Search with Grounded Opinions at SIGDIAL in Prague, Czech Republic! 🎉
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/MonthLogos/March_2022.png" alt="design icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Doctoral Researcher</h4>

                <p class="service-item-text">
                  Started my Ph.D. at the University of Bonn under the supervision of Prof. Dr. Lucie Flek.
                </p>
              </div>

            </li>

          </ul>

        </section>


        <!--
          - testimonials
        -->

        <section class="testimonials">
          

          <h3 class="h3 article-title">SELECTED COLLABORATORS</h3>

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/Lucie_Flek.jpg" alt="Lucie Flek" width="60" border="3px solid #ffa60092" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Prof. Dr. Lucie Flek</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    She is the head of the Data Science and Language Technology group at the University of Bonn.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/Martin_Potthast.jpeg" alt="Martin Potthast" width="60" border="3px solid #ffa60092" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Prof. Dr. Martin Potthost</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    He holds the chair of Deep Semantic Learning Research Group at the University of Kassel.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/Johanne_Trippas.PNG" alt="Johanne Trippas" width="60" height="80" border="3px solid #ffa60092"; data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Dr. Johanne R. Trippas</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    She is a Vice-Chancellor’s Senior Research Fellow at RMIT University, at the School of Computing Technologies in Australia.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/Yash_KumarLal.PNG" alt="Yash Kumar Lal" width="60" height="85" border="3px solid #ffa60092" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Yash Kumar Lal</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    He is a PhD student in Computer Science at the Stony Brook University, USA.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </section>

        </div>

      </article>
