      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>HOME</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>RESUME</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>RESEARCH</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>TEACHING</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>BLOG</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>CONTACT</button>
          </li>

        </ul>

        <button class="nav-toggle-btn" data-nav-toggle-btn>
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>

      </nav>
