      <!--
        - #RESEARCH
      -->

      <article class="research" data-page="research">

        <header>
          <h2 class="h2 article-title">RESEARCH</h2>
          <section class="about-text">
            <p>
               At the broadest level, my research focuses on human-centered intelligent conversational systems. I believe in task-driven research; my approach to research is to intergrate theory, experimentation, and application to advance both scientific understanding and real-world impact.
            </p>
          </section>
        </header>
        <h3 class="h3 article-title" style="text-align:left;">OVERARCHING RESEARCH THEMES:</h3>

        <section class="testimonials">

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card-research" data-testimonials-item>

                <figure class="testimonials-avatar-box-research">
                  <img src="./assets/images/ResearchAreas/NarrativeIntelligence.png" alt="Narrative Intelligence in LLMs" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title-research" data-testimonials-title>Narrative Intelligence in LLMs</h4>

                <div class="testimonials-tex-research" data-testimonials-text>
                  <p>
                    Narratives are central to how humans make sense of information, reason about the world, and communicate complex ideas. By applying storytelling to contexts such as scientific explanation and information-seeking dialogues, I aim to explore narratives as a representational and reasoning framework for LLMs, enabling them to structure information, explain phenomena, and engage users more effectively. 
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card-research" data-testimonials-item>

                <figure class="testimonials-avatar-box-research">
                  <img src="./assets/images/ResearchAreas/SocialMind.png" alt="The Social Mind of AI Agents" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title-research" data-testimonials-title>The Social Mind of AI Agents</h4>

                <div class="testimonials-tex-research" data-testimonials-text>
                  <p>
                    Human interaction is inherently social, shaped by personality, goals, and context. In this research area, I aim to investigate how LLMs can model, simulate, and adapt to social behaviors in interactive scenarios. This involves studying how traits influence goal achievement and how agents negotiate, collaborate, or persuade within social contexts. The ultimate goal is to move beyond transactional dialogue systems toward socially aware agents that more closely reflect the richness of human communication.
                  </p>
            </li>

          </ol>

          </ul>

        </section>

        <section class="testimonials">

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card-research" data-testimonials-item>

                <figure class="testimonials-avatar-box-research">
                  <img src="./assets/images/ResearchAreas/SubjectiveAlignment.png" alt="Subjective Alignment in Conversational Systems" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title-research" data-testimonials-title>Subjective Alignment<br>in Conversational Systems</h4>

                <div class="testimonials-tex-research" data-testimonials-text>
                  <p>
                    Conversations extend beyond objective facts, often reflecting opinions, values, and personal preferences. In this research area, I aim to incorporate subjectivity into conversational systems by modeling and aligning with diverse human perspectives. My work explores how such systems can recognize, represent, and adapt to individual preferences and viewpoints, enabling opinion-driven dialogue and fostering more personalized, context-sensitive interactions.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card-research" data-testimonials-item>

                <figure class="testimonials-avatar-box-research">
                  <img src="./assets/images/ResearchAreas/Evaluation.png" alt="Human-Like Evaluation of Conversational AI" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title-research" data-testimonials-title>Human-Like Evaluation<br>of Conversational AI</h4>

                <div class="testimonials-tex-research" data-testimonials-text>
                  <p>
                    Evaluating conversational AI requires moving beyond static benchmarks toward methods that capture the subjective and multi-perspective ways humans judge dialogue. In this research area, I aim to design human-like evaluation frameworks that integrate diverse perspectives and assess conversational quality beyond surface-level correctness.
                  </p>
            </li>

          </ol>

          </ul>

        </section>

        <section id="collaborators" class="collaborators">
          <h3 class="h3 article-title" style="text-align:left;">COLLABORATORS:</h3>
        
          <ul class="collaborators-list">
            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Lucie Flek">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Lucie_Flek.png" alt="Lucie Flek">
                </figure>
                <div class="collaborator-name">Prof. Dr. Lucie Flek</div>
              </a>
            </li>
        
            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Martin Potthast">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Martin_Potthast.jpg" alt="Martin Potthast">
                </figure>
                <div class="collaborator-name">Prof. Dr. Martin Potthast</div>
              </a>
            </li>
        
            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Johanne Trippas">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Johanne_Trippas.jpeg" alt="Johanne Trippas">
                </figure>
                <div class="collaborator-name">Dr. Johanne Trippas</div>
              </a>
            </li>
        
            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Yash Kumar Lal">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Yash_KumarLal.png" alt="Yash Kumar Lal">
                </figure>
                <div class="collaborator-name">Yash Kumar Lal</div>
              </a>
            </li>

            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Mohammad Mehdi Balouchi">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/MohammadMehdi_Balouchi.jpeg" alt="Mohammad Mehdi Balouchi">
                </figure>
                <div class="collaborator-name">Mohammad Mehdi Balouchi</div>
              </a>
            </li>

            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Behnam Fanitabasi">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Behnam_Fanitabasi.jpeg" alt="Behnam Fanitabasi">
                </figure>
                <div class="collaborator-name">Behnam Fanitabasi</div>
              </a>
            </li>

            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Mahnaz Mirhaj">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Mahnaz_Mirhaj.jpeg" alt="Mahnaz Mirhaj">
                </figure>
                <div class="collaborator-name">Mahnaz Mirhaj</div>
              </a>
            </li>

            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Zain Ul Abedin">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Zain_UlAbedin.png" alt="Zain Ul Abedin">
                </figure>
                <div class="collaborator-name">Zain Ul Abedin</div>
              </a>
            </li>

            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Aksa Aksa">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Aksa_Aksa.jpeg" alt="Aksa Aksa">
                </figure>
                <div class="collaborator-name">Aksa Aksa</div>
              </a>
            </li>

            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Fryderyk Rog">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Fryderyk_Rog.jpeg" alt="Fryderyk Rog">
                </figure>
                <div class="collaborator-name">Fryderyk Róg</div>
              </a>
            </li>

            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Ali Ather">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Ali_Ather.jpeg" alt="Ali Ather">
                </figure>
                <div class="collaborator-name">Ali Ather</div>
              </a>
            </li>


            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Sadia Naseer">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Sadia_Naseer.jpeg" alt="Sadia Naseer">
                </figure>
                <div class="collaborator-name">Sadia Naseer</div>
              </a>
            </li>


            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Affan Zafar">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Affan_Zafar.jpeg" alt="Affan Zafar">
                </figure>
                <div class="collaborator-name">Affan Zafar</div>
              </a>
            </li>


            <li class="collaborator">
              <a class="collaborator-card" href="#" aria-label="Zahra Ganji">
                <figure class="collaborator-avatar">
                  <img src="./assets/images/Collaborators/Zahra_Ganji.png" alt="Zahra Ganji">
                </figure>
                <div class="collaborator-name">Zahra Ganji</div>
              </a>
            </li>
        
          </ul>
        </section>

        
        <!-- ===== ACTIVITIES SECTION ===== -->
<section class="activities">

  <h3 class="h3 article-title" style="text-align:left;">SELECTED PAPERS:</h3>

  <ul class="activities-list">

    <li class="activities-item">
      <div class="icon-box">
        <img src="./assets/images/Papers/NarrativeEvaluationPaper.png" alt="In Progress" width="150" height="100">
      </div>
      <div class="content-box">
        <h6 class="h5 item-title">A Framework for Evaluating Explanatory Narratives in Science Communication</h6>
        <p class="item-text">
          Sadia Naseer, Vahid Sadiri Javadi, Johanne R. Trippas, Lucie Flek
        </p>
        <p class="item-text">
          2025 | In Progress.
        </p>
      </div>
    </li>

    <li class="activities-item">
      <div class="icon-box">
        <img src="./assets/images/Papers/CHARISMA_Pipeline.png" alt="CHARISMA Pipeline" width="150" height="100">
      </div>
      <div class="content-box">
        <h6 class="h5 item-title">CHARISMA: Character-Based Interaction Simulation with Multi LLM-based Agents for Computational Social Psychology</h6>
        <p class="item-text">
          Aksa Aksa, Fryderyk Róg, Vahid Sadiri Javadi, Johanne R. Trippas, Lucie Flek
        </p>
        <p class="item-text">
          2025 | In Progress.
        </p>
      </div>
    </li>

    <li class="activities-item">
      <div class="icon-box">
        <img src="./assets/images/Papers/CINEMETRIC_Pipeline.png" alt="CINEMETRIC Pipeline" width="150" height="100">
      </div>
      <div class="content-box">
        <h6 class="h5 item-title">CINEMETRIC : A Framework for Multi-Perspective Evaluation of Conversational Agents using Human-AI Collaboration</h6>
        <p class="item-text">
          Vahid Sadiri Javadi, Zain Ul Abedin, Lucie Flek
        </p>
        <p class="item-text">
          2025 | In Proceedings of the 4th Workshop on Perspectivist Approaches to NLP (NLPerspectives) at Empirical Methods in Natural Language Processing, <b>EMNLP</b> 2025.
        </p>
      </div>
    </li>

    <li class="activities-item">
      <div class="icon-box">
        <img src="./assets/images/Papers/SoT_Pipeline.png" alt="SoT Pipeline" width="150" height="100">
      </div>
      <div class="content-box">
        <h6 class="h5 item-title">Can Stories Help LLMs Reason ? Curating Information Space Through Narrative</h6>
        <p class="item-text">
          Vahid Sadiri Javadi, Johanne R Trippas, Yash Kumar Lal, Lucie Flek
        </p>
        <p class="item-text">
          2024 | In Proceedings of the 1st Workshop on System-2 Reasoning at Scale at Advances in Neural Information Processing Systems, <b>NeurIPS</b> 2024.
        </p>
      </div>
    </li>

    <li class="activities-item">
      <div class="icon-box">
        <img src="./assets/images/Papers/Narrative_CIS.png" alt="Narrative CIS" width="150" height="100">
      </div>
      <div class="content-box">
        <h6 class="h5 item-title">Unveiling Information Through Narrative In Conversational Information Seeking</h6>
        <p class="item-text">
          Vahid Sadiri Javadi, Johanne R Trippas, Lucie Flek
        </p>
        <p class="item-text">
          2024 | In Proceedings of the 6th ACM Conference on Conversational User Interfaces, <b>CUI</b> 2024.
        </p>
      </div>
    </li>

    <li class="activities-item">
      <div class="icon-box">
        <img src="./assets/images/Papers/OpinionConv_Pipeline.png" alt="OpinionConv" width="150" height="100">
      </div>
      <div class="content-box">
        <h6 class="h5 item-title">OpinionConv: Conversational Product Search with Grounded Opinions</h6>
        <p class="item-text">
          Vahid Sadiri Javadi, Martin Potthast, Lucie Flek
        </p>
        <p class="item-text">
          2023 | In Proceedings of the 34th Meeting of the Special Interest Group on Discourse and Dialogue, <b>SIGDIAL</b> 2023.
        </p>
      </div>
    </li>

    <li class="activities-item">
      <div class="icon-box">
        <img src="./assets/images/Papers/SalesNegotiation_Pipeline.png" alt="Sales Negotiation" width="150" height="100">
      </div>
      <div class="content-box">
        <h6 class="h5 item-title">A Framework for Generating Opinionated Sales Negotiations</h6>
        <p class="item-text">
          Vahid Sadiri Javadi, Lucie Flek
        </p>
        <p class="item-text">
          2022 | In Proceedings of the 6th Workshop on Search-Oriented Conversational AI (SCAI), <b>SIGIR</b> 2022.
        </p>
      </div>
    </li>
  </ul>
</section>

  <h3 class="h3 article-title" style="text-align:left;">MENTORING & SUPERVISION:</h3>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">MASTER’S THESES</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title"> 2025 | A Framework for Evaluating Explanatory Narratives in Science Communication</h4>
        <span>Sadia Naseer</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2025 | Simulating Social Scenarios for Evaluating Multi-Agent Goal Achievement</h4>
        <span>Fryderyk Róg</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2025 | Structuring Explanatory Narrative with Knowledge Graphs : Extraction, Optimization, and Regeneration</h4>
        <span>Ali Ather</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2025 | Evaluating the Social Effectiveness of LLM Agents in Simulated Social Scenarios</h4>
        <span>Aksa Aksa</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2025 | Causal Analysis of Perspective-Driven Judgments in Evaluation NLP Systems</h4>
        <span>Zain Ul Abedin</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2024 | From Role-Playing to Perspective Taking : A Gamified Approach to Evaluate Large Language Models</h4>
        <span>Mohammad Mehdi Balouchi</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2024 | Improving the Natural Language Inference Task with Human-Like LLM Explanations</h4>
        <span>Mahnaz Mirhaj</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2024 |Evaluating Foundation Models using Keyphrase Analysis without Ground Truth</h4>
        <span>Behnam Fanitabasi</span>
      </li>

    </ol>

  </section>
  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">BACHELOR’S THESES</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2023 |Analyzing the Potency of PLP Models for Automated Code Repair</h4>
        <span>Maximilian Leiwig</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2022 | Argument Generation in Conversational Product Search Systems</h4>
        <span>Michael Fuchs</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">2022 | A Web Application for Argument Extraction in Product Reviews</h4>
        <span>Ruilin Gao</span>
      </li>

    </ol>

    </section>

    <h3 class="h3 article-title" style="text-align:left;">TALK & PRESENTATION:</h3>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">2025</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Subjective Debate as Conversational Search | Montreal, Canada</h4>
        <span>SCAI: Search-Oriented Conversational AI</span>
        <p class="timeline-text">
          <a href="https://scai.info/scai-2025/" target="_blank">SCAI</a> | <a href="https://scai.info/assets/scai-2025/vahid.pdf" target="_blank">Slides</a>
        </p>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Train Your AI Twin: Discovering Yourself Through Characters | Bonn, Germany</h4>
        <img src="assets/images/EGOI-Workshop.png" 
        alt="EGOI Workshop"
        style="
          height: 100px; 
          width: auto; 
          position: absolute; 
          right: 15px; 
          top: 1px; 
          border-radius: 8px;
          transition: transform 0.3s ease;
        "
        onmouseover="this.style.transform='scale(1.05)'"
        onmouseout="this.style.transform='scale(1)'">
        <span>European Girls’ Olympiad in Informatics</span>
        <p class="timeline-text">
          <a href="https://www.egoi2025.de/" target="_blank">EGOI</a> | <a href="https://github.com/vahidsj/EGOI-Workshop" target="_blank">Tutorial</a>
        </p>
      </li>

    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">2024</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Building Safe and Responsible AI Tools | Brussels, Belgium</h4>
        <span>Meta’s GenAI Forum</span>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">FanToMAS: Perspective Taking and Identity Guessing Game | Dresden, Germany</h4>
        <img src="assets/images/FanToMAS.jpeg" 
        alt="EGOI Workshop"
        style="
          height: 100px; 
          width: 80px; 
          position: absolute; 
          right: 40px; 
          top: 1px; 
          border-radius: 8px;
          transition: transform 0.3s ease;
        "
        onmouseover="this.style.transform='scale(1.05)'"
        onmouseout="this.style.transform='scale(1)'">
        <span>ScaDS.AI - At the AI All Hands Meeting</span>
        <p class="timeline-text">
          <a href="https://x.com/lucie_nlp/status/1843393808278663579" target="_blank">Demo Game</a>
        </p>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">LLMs in Action: Hands-on Workshop | Dortmund, Germany</h4>
        <span>AI24 - The LAMARR Conference</span>
        <p class="timeline-text">
          <a href="https://www.lamarr-conference.org/" target="_blank">AI24</a> | <a href="https://www.lamarr-conference.org/llms-in-action-workshop/" target="_blank">Workshop</a>
        </p>
      </li>

    </ol>

  </section>



      </article>
