      <!--
        - #RESUME
      -->

      <article class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title">RESUME</h2>
        </header>


        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h2 class="h2">EDUCATION</h2>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Ph.D. Student in Computer Science, University of Bonn</h4>

              <span>07.2022 — Present</span>
              <p class="timeline-text">
                Dissertation: Human-centered Grounding of Conversational Agents 
              </p>
              <p class="timeline-text">
                Supervisor : Prof. Dr. Lucie Flek 
              </p>
              <p class="timeline-text">
                Faculty of Computer Science
              </p>
              <p class="timeline-text">
               Bonn, Germany
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">M.Sc. Data Science, Chemnitz University of Technology</h4>

              <span>04.2019 — 03.2021</span>
              <p class="timeline-text">
                Thesis: Conversational Opinionated Question Answering : Generating, Modeling, & Evaluation
              </p>
              <p class="timeline-text">
                Supervisor : Prof. Dr. Lucie Flek | Advisor : Prof. Dr. Martin Potthast
              </p>
              <p class="timeline-text">
                Faculty of Mathematics
              </p>
              <p class="timeline-text">
               Chemniz, Germany
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">M.Sc. Industrial Engineering & Management, University of Erlangen-Nuremberg</h4>

              <span>10.2014 — 03.2017</span>
              <p class="timeline-text">
                Thesis: What Drives Changes in Attitudes Towards Refugees? Evidence from Social Media
              </p>
              <p class="timeline-text">
                Supervisor : Prof. Dr. Tobias Heidland | Advisor : Dr. Esther Ademmer
              </p>
              <p class="timeline-text">
                Faculty of Engineering & Faculty of Business and Economics
              </p>
              <p class="timeline-text">
               Nuremberg, Germany      
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">B.Sc. Industrial Engineering, Sadjad University</h4>

              <span>09.2008 — 07.2012</span>
              <p class="timeline-text">
                Title: Exploring Performance Evaluation Methods of Employees in Human Resource Department
              </p>
              <p class="timeline-text">
                Supervisor : Prof. Dr. Mehdi Rajaeian
              </p>
              <p class="timeline-text">
                Faculty of Engineering
              </p>
              <p class="timeline-text">
                Mashhad, Iran
              </p>

            </li>

          </ol>
          
        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">AWARDS & HONORS</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">
                BDD-WissenschaftsAward | Best Paper Award
                <img src="assets/images/BDD_WissenschaftsAward.jpg" 
                      alt="BDD WissenschaftsAward"
                      style="
                        height: 100px; 
                        width: auto; 
                        position: absolute; 
                        right: 80px; 
                        top: -65px; 
                        border-radius: 8px;
                        transition: transform 0.3s ease;
                      "
                      onmouseover="this.style.transform='scale(1.05)'"
                      onmouseout="this.style.transform='scale(1)'">
              </h4>

              <span>10.2024</span>
              <p class="timeline-text">
                -> Received Best Paper Award from German Direct Selling Association for OpinionConv.
              </p>
              <p class="timeline-text">
                -> <a href="https://www.direct-selling-magazine.de/bundesverband-direktvertrieb-deutschland-bdd-zeichnet-studentin-und-studenten-mit-dem-wissenschaftsaward-aus/" target="_blank">Direct Selling Magazine</a>
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Delegation Research Visit in US | Carnegie Mellon University & University of Pennsylvania</h4>

              <span>04.2024</span>
              <p class="timeline-text">
                -> Granted a research visit opportunity in the US by the LAMARR Institute
              </p>
              <p class="timeline-text">
                -> <a href="https://x.com/LamarrInstitute/status/1775854496498794772" target="_blank">The Delegates</a>
              </p>
               
            </li>

          </ol>

          </section>

          <section class="timeline">

            <div class="title-wrapper">
              <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
              </div>
  
              <h2 class="h2">RESEARCH EXPERIENCE</h2>
            </div>
  
            <ol class="timeline-list">
  
              <li class="timeline-item">
  
                <h4 class="h4 timeline-item-title">Research Fellow, Web Technology and Information Systems Lab | Weimar, Germany</h4>
                
                <span>01.2022 — 10.2022</span>
                <p class="timeline-text">
                  Bauhaus-Universität Weimar | <a href="https://www.dzhw.eu/en/forschung/projekt?pr_id=658" target="_blank">Phoenix Project, Tracing Authorship Styles</a>
                </p>
                <p class="timeline-text">
                  -> Analyzing stylistic features and biases of scientific writing to identify traces of authorship
                </p>
  
              </li>
  
              <li class="timeline-item">
  
                <h4 class="h4 timeline-item-title">Research Intern, AI & Data Science Department | Gütersloh, Germany</h4>
  
                <span>07.2020 — 09.2020</span>
                <p class="timeline-text">
                  Miele & Cie. KG
                </p>
                <p class="timeline-text">
                  -> Designing a pipeline to generate a multilingual document-based evaluation corpus in Databricks
                </p>
  
              </li>
  
              <li class="timeline-item">
  
                <h4 class="h4 timeline-item-title">Research Intern, Knowledge Discovery Department | Kiel, Germany</h4>
  
                <span>07.2016 — 09.2016</span>
  
                <p class="timeline-text">
                  Leibniz Information Center for Economics
                </p>
                <p class="timeline-text">
                  -> Designing a web application to collect and analyze Facebook data for various NLP tasks
                </p>
  
              </li>
  
             </ol>
  
             </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h2 class="h2">INDUSTRY EXPERIENCE</h2>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Data Scientist | Berlin, Germany</h4>
              
              <span>10.2019 — 03.2021</span>
              <p class="timeline-text">
                GK AIR
              </p>
              <p class="timeline-text">
                -> Optimizing Dynamic Pricing solutions through advanced DL techniques such as CNN-LSTM and NCF
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Data Analyst | Hamburg, Germany</h4>

              <span>07.2017 — 07.2018</span>
              <p class="timeline-text">
                INFOMOTION GmbH
              </p>
              <p class="timeline-text">
                -> Transforming customer data into actionable marketing insights & solutions with SAP HANA
              </p>

            </li>

           </ol>

           </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">LANGUAGE PROFICIENCY</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Persion</h4>

              <span>Native (Mother tongue)</span>
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">German</h4>

              <span>Professional working proficiency (DSH 2)</span>
              </p>

            </li>
          
            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">English</h4>

              <span>Professional working proficiency</span>
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Spanish</h4>

              <span>Basic proficiency</span>
              </p>

            </li>

          </ol>

          </ul>

        </section>

      </article>
