    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box" style="width:150px; height:150px; overflow:hidden; border-radius:50%; display:flex; align-items:center; justify-content:center;">
  <img src="./assets/images/MyPictures/MyPhoto2023.JPEG" 
       alt="Vahid Sadiri Javadi" 
       style="width:100%; height:100%; object-fit:cover;">
</figure>

        <div class="info-content">
          <h1 class="name" title="Vahid Sadiri Javadi"><b>Vahid</b> Sadiri Javadi</h1>

          <p class="title"><b>NLP & IR Researcher</b></p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:sadirijavadi.vahid@gmail.com" class="contact-link">sadirijavadi.vahid@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="1982-06-23">July 24th (October 25th)</time>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Bonn, NRW, Germany</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <li class="social-item">
  <a href="https://de.linkedin.com/in/vahid-sadiri-javadi-8a938542" class="social-link" target="_blank">
    <ion-icon name="logo-linkedin"></ion-icon>
  </a>
</li>

<li class="social-item">
  <a href="https://twitter.com/Vahid_S_J" class="social-link" target="_blank">
    <ion-icon name="logo-twitter"></ion-icon>
  </a>
</li>

<li class="social-item">
  <a href="https://www.instagram.com/vahid.s.j/" class="social-link" target="_blank">
    <ion-icon name="logo-instagram"></ion-icon>
  </a>
</li>

        </ul>

      </div>

    </aside>
